body {
	margin: 0;
	padding: 0;
	background: #f1f1f1;
}

.card {
	width: 500px;
	background: #f1f1f1;
	overflow: hidden;
	height: 1000px;
	font-family: "montaserrat", sans-serif;
	box-shadow: 0 0 20px #00000070;
	margin-bottom: 100px;
}

.middle {
	position: relative;
	top:350px;
	left: 50%;
	height: auto;
	transform: translate(-50%,-50%);
}

.header {
	width: 100%;
	background-color: #146198;
	display: inline-flex;
}

.logo , .shop {
	width: 50%;
}

.logo h1 {
	position: relative;
	left: 20px;
	color: #fff;
}

.shop h3{
	position: relative;
	left: 140px;
	top: 10px;
	color: #fff;
}

.firework {
	margin-top: 0px;
	width: 100%;
	background:#08a4d3;
	height: 200px;
}

.firework img {
	position: relative;
	left: 170px;
	top: 20px;
}

.offer {
	width: 100%;
	text-align: center;
	padding: 10px;
	background-color: #fff;
}

.offer h1 {
		text-transform: uppercase;
		font-weight: bolder;
}

.offer .btn {
		width: auto;
		height: auto;
		padding: 14px;
		border-radius: 5px;
		border: none;
		background: #F8D353;
		background: -webkit-linear-gradient(top left, #F8D353, #FF5C5A);
		background: -moz-linear-gradient(top left, #F8D353, #FF5C5A);
		background: linear-gradient(top left, #F8D353, #FF5C5A);
		cursor: pointer;
		color: #fff;
}

.social {
	width: 100%;
	height: 100px;
	padding: 12px;
	background:#08a4d3;
}

.social ul {
	text-align: center;
	position: relative;
	left: 60px;
}

.social ul li {
	float: left;
	list-style: none;
	padding: 20px;
}

.social ul li a, .social ul li a .fab {
	color: #fff;
	text-decoration: none;
}


.bar {
		width: 100%;
		height: 10px;
		background-color: deepskyblue;
		position: relative;

}
